@model HVMAPP.Entity.Doctor
@{
    ViewBag.Title = "Doktor Ekle";
    Layout = "~/Areas/HVM/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">DOKTOR EKLE</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Ekle", "Doktor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @if (ViewBag.Mesaj != null)
                        {
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="alert alert-danger">
                                        <h3><i class="fa fa-warning"></i> Hata Mesajı</h3>
                                        <p>@ViewBag.Mesaj</p>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="control-label col-md-2">Doctor Image</label>
                            <div class="col-md-10">
                                <input type="file" name="ImageUrl" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" maxlength="70" name="NameSurname" class="form-control" required placeholder="Adınızı Giriniz(*)." />
                                @Html.ValidationMessageFor(model => model.NameSurname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" maxlength="110" name="Profession" class="form-control" required placeholder="Uzmanlık Alanı Giriniz(*)." />
                                @Html.ValidationMessageFor(model => model.Profession, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" maxlength="25" name="CompanyName" value="Avrasya Hospital" readonly class="form-control" required placeholder="Şirket Adı Giriniz(*)." />
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <div class="i-checks">
                                        <label> <input type="radio" name="IsActive" value="True"> <i></i> Aktif </label>

                                        <label> <input type="radio" name="IsActive" value="False"> <i></i> Pasif </label>
                                        <label style="color:red;">Kullanıcı Aktif veya Pasif Olarak Seçim Ayarlayınız.</label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-10">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Doktor Ekle</button>
                                <a href="@Url.Action("Listele","Doktor")" class="btn btn-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

    </div>
</div>