@model HVMAPP.Entity.Image

@{
    ViewBag.Title = "Çoklu Ekranlara Resim Ekle";
    Layout = "~/Areas/HVM/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">ÇOKLU EKRAN TEK RESİM EKLE</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("CokluEkle", "Resimler", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label">Ekran Seç</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <select multiple data-plugin-selectTwo required name="EsId" class="form-control populate">
                                        <optgroup label="Lütfen Seçim Yapınız">
                                            @foreach (var item in ViewBag.ElectronicStuffId)
                                            {
                                                <option value="@item.ID">@item.Name - @item.Room.Name</option>
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Resim Seç</label>
                            <div class="col-md-10">
                                <input type="file" name="ImageUrl" class="form-control" required />
                                <p style="color:darkred;">(Resimlerinizi 960x500' e göre ayarlayınız)</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Resim Ekle</button>
                                <a href="@Url.Action("Listele","Resimler")" class="btn btn-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

    </div>
</div>