@model HVMAPP.Entity.RoomSetting
@{
    ViewBag.Title = "Oda Ayarı Sil";
    Layout = "~/Areas/ERCFIBARO/Views/Shared/_Layout.cshtml";
}
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>

        <h2 class="panel-title">Oda Ayarı Sil</h2>
    </header>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <dl class="dl-horizontal">

                    <dt>
                        Tablet Sayısı
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TabletNumber)
                    </dd>
                    <hr />
                    <dt>Tv Sayısı</dt>
                    <dd>@Html.DisplayFor(model => model.TV)</dd>
                    <hr />
                    <dt>Video Wall</dt>
                    <dd>@Html.DisplayFor(model => model.VideoWallNumber)</dd>
                    <hr />
                    <dt>Şirket Adı</dt>
                    <dd>@Html.DisplayFor(model => model.Company)</dd>
                    <hr />
                    <dt>
                        Son Güncelleme Tarihi
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpdateDate)
                    </dd>
                    <hr />
                    <dt></dt>
                    <dd>

                        <div class="form-actions no-color">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Oda Ayarı Sil</button>
                            <a href="@Url.Action("Listele", "OdaAyari")" class="btn btn-dark"><i class="fa fa-reply-all"></i> Listeye Geri Dön</a>
                        </div>
                    </dd>
                    <hr />
                </dl>
            </div>
        }
    </div>
</section>